<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
  </head>

  <body>
  <% if user_signed_in? %>
    <%= controller.redirect_to tweets_path %>
  <% else %>
    <%= render partial: "home" %>
  <% end %>    
  </body>
</html>
